:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  color: #f7f7f7;
}

h1 {
  display: none;
}

h2 {
  font-size: 4.8em;
  font-weight: 300;
}

.button {
  font: 400 17px Roboto;
  cursor: pointer;
  width: 16rem;
  height: 6rem;
  transition: all 0.3s;
  letter-spacing: 0.9px;
  border-radius: 5px;
  background-color: #CD6326;
  color: #f7f7f7;
}

.bg__wrapper, .latest-articles, .get-notified, .footer {
  margin: 0 auto;
  padding: 0 12rem;
  max-width: 144rem;
  display: flex;
}

.latest-articles__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.latest-articles {
  flex-direction: column;
  align-items: center;
}

.wrapper-first {
  background-color: #02160b;
  width: 100%;
}

.wrapper-second {
  background-color: #cccccc;
  width: 100%;
}

.wrapper-third {
  background-color: #181617;
  width: 100%;
}

.bg__wrapper {
  flex-direction: column;
  justify-content: space-between;
  background: url(./assets/images/fox.png);
}

/*.survival, .get-notified, .latest-articles, .footer {
    max-width: 120rem; 
    margin: 0 auto; 
}*/
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 1.9rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22rem;
}

#logo-svg {
  width: 7rem;
}

.logo-title {
  font-size: 32px;
  line-height: 60px;
  /* identical to box height, or 187% */
  color: #f7f7f7;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  width: 45.7rem;
}

.menu__list-link {
  text-decoration-line: unset;
  font-size: 2.3em;
  letter-spacing: 0px;
  text-align: left;
  color: #f7f7f7;
}

.menu__list-link:hover {
  cursor: pointer;
  color: #E39128;
  font-family: Roboto;
}

.menu__list-link_active {
  border-bottom: solid 3px #E39128;
}

.survival {
  padding-top: 8rem;
  padding-bottom: 24rem;
}

.survival__title {
  letter-spacing: 0.2rem;
  color: #CD6326;
}

.survival__text {
  width: 27.4rem;
  line-height: 2.7rem;
  font-size: 1.8em;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.latest-articles__content {
  padding-top: 12rem;
  max-width: 33.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.latest-articles__title {
  color: #333333;
}

.latest-articles__text {
  font-size: 2.4em;
  color: #666666;
}

.arrow__container {
  width: 3rem;
  height: 7rem;
  display: flex;
}

.arrow_left__img, .arrow_right__img {
  width: 3rem;
  height: 6rem;
}

.arrow_left__img {
  background-image: url(./assets/icons/arrow_left.svg);
}

.arrow_right__img {
  background-image: url(./assets/icons/arrow_right.svg);
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  column-gap: 6rem;
  flex-wrap: wrap;
}

.layout-3-column > * {
  margin-bottom: 3.75rem;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30rem;
  height: 36rem;
}

.card__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 23.7rem;
}

.card__title {
  color: #f7f7f7;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 2.6em;
  margin: 0;
}

.card__text {
  color: #f7f7f7;
  font-size: 1.7em;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
